In [ ]:
**Dictionary**

In [1]:
name=['Manish','Shuba','Govindh']
age=[25,20,15]
for i,j in zip(name,age):
    print(f"the {i} age is {j}")

the Manish age is 25
the Shuba age is 20
the Govindh age is 15

In [2]:
# {<key>:<value>}
dict1={'Manish':25,'Shubam':20,'Govindh':15}
dict1

{'Manish': 25, 'Shubam': 20, 'Govindh': 15}

In [3]:
# key are : Manish, Shubam,Govindh
# value are : 25,20,15
# Manish and 25 together

In [4]:
type(dict1)

dict

In [5]:
quotes for 25??

SyntaxError: invalid syntax (3386135207.py, line 1)

In [11]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
d1

{'Manish': 25, 'Shubam': 20, 'Govindh': 15}

In [13]:
d2={'Manish':'25','Shubam':'20','Govindh':'15'}
d2

{'Manish': '25', 'Shubam': '20', 'Govindh': '15'}

In [ ]:
d3

In [14]:
d7={'Ajay':25,'Ajay':30}
d7

{'Ajay': 30}

In [15]:
d8={25:'Ajay',30:'Ajay'}
d8

{25: 'Ajay', 30: 'Ajay'}

In [ ]:
d9={25:'Ajay',30:{}}

- **keys are important**

- Keys have only latest value

- No duplicate keys

- Keys should be only one

- value can be deplicate

- Which means different keys can have same value

- List can not be a key

- tuple can be a key

In [ ]:
- min

- max

- len

- sorted

- reversed

In [ ]:
for i in d1:
    print(f"{i} "1)

In [10]:
# How to access elements
d1={'Fruites':['Apple']}
d1['Fruites'][0]

'Apple'

In [11]:
d1={'Fruites':{"Apple":['Kashmir']}}
d1

{'Fruites': {'Apple': ['Kashmir']}}

In [12]:
d1['Fruites']['Apple']

['Kashmir']

In [14]:
d1['Fruites']['Apple'][0]

'Kashmir'

In [25]:
d1={'Fruites':{"Apple":[
                     {'Kashmir':'india'},
                     {'Hyd':'TS'}
                     ]
               }
   }
d1

{'Fruites': {'Apple': [{'Kashmir': 'india'}, {'Hyd': 'TS'}]}}

In [26]:
d1['Fruites']

{'Apple': [{'Kashmir': 'india'}, {'Hyd': 'TS'}]}

In [27]:
d1['Fruites']['Apple']

[{'Kashmir': 'india'}, {'Hyd': 'TS'}]

In [28]:
d1['Fruites']['Apple'][0]

{'Kashmir': 'india'}

In [31]:
d1['Fruites']['Apple'][0]['Kashmir']

'india'

In [32]:
d1={'Fruites':{"Apple":[
                     {'Kashmir':'india'},
                     {'Hyd':'TS'}
                     ]
               }
   }
d1
d1={'Fruites':{'Mango':{'Benganpalli':{'Nagpur market':{'MH':{'Shivaji'}}}}}}
d1

{'Fruites': {'Mango': {'Benganpalli': {'Nagpur market': {'MH': {'Shivaji'}}}}}}

In [33]:
d1['Fruites']

{'Mango': {'Benganpalli': {'Nagpur market': {'MH': {'Shivaji'}}}}}

In [34]:
d1['Fruites']['Mango']

{'Benganpalli': {'Nagpur market': {'MH': {'Shivaji'}}}}

In [36]:
d1['Fruites']['Mango']['Benganpalli']

{'Nagpur market': {'MH': {'Shivaji'}}}

In [37]:
d1['Fruites']['Mango']['Benganpalli']['Nagpur market']

{'MH': {'Shivaji'}}

In [38]:
d1['Fruites']['Mango']['Benganpalli']['Nagpur market']['MH']

{'Shivaji'}

In [39]:
len(d1)

1

**How to create empty dictionary**

- it is very important to know to make empty list

- how to make empty string

- how to make empty dictionary

In [ ]:
str1='python'
str2=''
for i in str1:
    str2=str2+i

In [42]:
l1=[1,2,3,4]
l2=[]
for i in l1:
    l2.append(i)
l2

[1, 2, 3, 4]

In [46]:
d={}
d['Ramesh']=50
d['Rahman']=100
d

{'Ramesh': 50, 'Rahman': 100}

**Convert string to list**

In [50]:
str1='hai how are you'
l=str1.split()
l

['hai', 'how', 'are', 'you']

**join:convert list to string**

In [ ]:
l=['hai','how','are','you']
new_str=
new_str

**we have two list to convert into dictonary**

In [54]:
name=['Ramesh','suresh','Manish']
age=[25,30,35]
d={}
for i,j in zip (name,age):
    d[i]=j
d

{'Ramesh': 25, 'suresh': 30, 'Manish': 35}

In [55]:
str1= 'what is your name'
l=str1.split()
l

['what', 'is', 'your', 'name']

In [57]:
#dir('') #string
#dir([])  #list
#dir({})  #dic
dir(())  #tuble

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**items keys value**

- items means both and values comes together

- keys means only dictionary keys

- values means dicginary values

In [62]:
d={'Ramesh':50,'Suresh':100,'Sathish':150,'Manishh':200}
it=d.items()
it

dict_items([('Ramesh', 50), ('Suresh', 100), ('Sathish', 150), ('Manishh', 200)])

In [ ]:
for i in items_list:
    print(i{0},i{1})

In [68]:
item_list=
name=[]
age=[]
for i in items_list:
    name.append(i[0])
    age.append(i[1])
name

NameError: name 'items_list' is not defined

In [66]:
import string
dir(string)
string.ascii_lowercase

#step-1:create lowercase letters list using string package
#step-2: create a digits list 1 to 26
#step-3: create a dictionary{'a':1,'b':2,.....'z':26}
#step-4: enter a string: hai
#step-5: output: 8-1-9

'abcdefghijklmnopqrstuvwxyz'

In [ ]:
# Methods of the dictionary