**Loops**

- Function:Reuse of the code

- Loop: Reuse the code for multiple time unless the given condition saticfies

  - For

  - While

- Any loop requires 3 tings
  
  - start point
 
  - what is the condition to stop
 
  - increment or decrement
 
- In for loop we will apply all above 3 in a single line 

- in while loop we will apply al above 3 in 3 different lines

# For

 - method - 1

In [9]:
#syntax
for i in range[10]:

    print(i)

TypeError: type 'range' is not subscriptable

In [10]:
name=[1,2,3,4,5,6]

In [11]:
for i in name[0:]:
    print(i)

1
2
3
4
5
6

In [3]:
print(0)
print(1)
print(2)

print(i)

0
1
2

NameError: name 'i' is not defined

**Note**

- The default start point is zero

   **python index starts with zero**

- Default increment is 1

- Last value = stop - 1

**range(5)**

- star value =0

- increment=1

- last value =5-1=4

In [4]:
for i in range (5):
    print(i)

0
1
2
3
4

In [5]:
print(0,end=' ')
print(1,end=' ')
print(2)

0 1 2

In [6]:
for i in range (5):
    print(i,end=' ')

0 1 2 3 4

In [15]:
# I want to print 3 times hello

for i in range (3):
    print(' hello',end=' ')

 hello  hello  hello

$method-2$

**range(start,stop)**

- start value = start

- Default increment by 1
  
- Last value = stop-1

In [20]:
# syntax
for i in range(3,9):
    print(i,end=' ')

3 4 5 6 7 8

In [22]:
#Wap ask the use print the square of the number from 1to 5

for i in range (1,6):
    print (f"the squre of {i} is {i*i}")

the squre of 1 is 1
the squre of 2 is 4
the squre of 3 is 9
the squre of 4 is 16
the squre of 5 is 25

In [29]:
def main():
    for i in range(1, 6):
        user_input = int(input(f"Enter the square of {i}: "))
    if user_input == i ** 2:
         print("Correct!")
     else:
         print("Incorrect! The correct answer is:", i ** 2)

if_name_ == "_main_":
    
main()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [31]:
#write a prog ask the user take 5 random number and print the square of the random numbers 
import random
for i in range (5):
    print(random.randint(0,5),(i*i)

SyntaxError: incomplete input (2905558314.py, line 4)

In [34]:
import random
for i in range(5):
    num=random.randint(1,100)
    print(f'the square of {num} is {num*num}')

the square of 74 is 5476
the square of 43 is 1849
the square of 18 is 324
the square of 56 is 3136
the square of 85 is 7225

In [37]:
#create a function on reuse code line
#call that function inside the for loop

def square():
    num=random.randint(1,100)
    return(f'the square of {num} is {num*num}')
for i in range (5):
    ans=square()
    print(ans)

the square of 29 is 841
the square of 77 is 5929
the square of 12 is 144
the square of 24 is 576
the square of 100 is 10000

In [38]:
def add():
    a=10
    b=20
    print(a+b)
    
for i in range (5):
    ans=add()
    print(ans)

30
None
30
None
30
None
30
None
30
None

In [42]:
#wap ask the user print the even or odd value between 11 to 21
for i in range (5):
    if i%2==0:
        print(f'{i} is an even number')
    else:
        print(f'{num}is an odd number')

0 is an even number
85is an odd number
2 is an even number
85is an odd number
4 is an even number

In [39]:
# wap ask the user enter a value from keyboard 5 times
# print that value is even or odd
for i in range(5):
    print('entre the value')

entre the value
entre the value
entre the value
entre the value
entre the value

$method-3$
**range (start,stop,step)**

- start = alway a sart value

-step: Increment value

  - If= Incement value is postive 

  - positive value means postive direction(Forward)

       - Last=stop-1
         
  - In increment value is negative

  - negative value means negative direction

      - last=stop+1

In [43]:
#case-1

for i in range(2,20,2):
    print(i,end=' ')
# start=2
# step=2 +ve direction
#lasr=stop -1=20-1=19

#frist

2 4 6 8 10 12 14 16 18

In [44]:
#case-2
for i in range(2,20,-2):           # no ans no error its cant go 2 to negative value to reach psotive value of 20 its not possiable
    print(i,end=' ')
#star=2
#step=2 negative direction
#last= stop+:20+1=21

In [48]:
#case-3
for i in range(2,-20,-2):         
    print(i,end=' ')
#start=2
#step=2 negative
#last =stop+1=-20+1=19

2 0 -2 -4 -6 -8 -10 -12 -14 -16 -18

In [50]:
#case-4
for i in range (-2,20,-2):
    print(i,end=' ')
#start=-2
#step=2 negative
# last value 20-1=19

In [51]:
for i in range (3,19,3):
    print(i,end=' ')

3 6 9 12 15 18

In [52]:
for i in range (3,19,-3):
    print(i,end=' ')

In [53]:
for i in range (3,-19,3):
    print(i,end=' ')

In [54]:
for i in range (3,-19,-3):
    print(i,end=' ')

3 0 -3 -6 -9 -12 -15 -18

In [ ]:
for i in range (3,19,3):
    print(i,end=' ')

In [1]:
#Wap to create 9th table
#9*1=9
#
#9*10=90

In [4]:
for i in range (1,11):
    print(f'9x{i}={9*i}')

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90

In [5]:
for i in range (1,11):
    print(f'10x{i}={10*i}')

10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100

In [ ]:
#7Q)Wap to print meaning 


#50%1=0

#

#50%50=0

In [10]:
for i in range (1,51):
   if 50%i==0:
    print(i)
# step-1 : i=1 if 50%1==0 true  print(1):1
# step-2 : i=

1
2
5
10
25
50

In [11]:
num=eval(input('Enter the number which you want divisiable'))
for i in range (1,51):
   if 50%i==0:
    print(i)

Enter the number which you want divisiable 74

1
2
5
10
25
50

**summation wrapper**

In [ ]:
#q8) wap print the sum of first 10 natural number
# 1to 10
#1+2+3+4+5+6+7+8+9+10=

#whwnever you want to do any sum program
#It is like wrapper

In [20]:
for i in range (1,11):
    print(f'{i}+1={i+1}')

1+1=2
2+1=3
3+1=4
4+1=5
5+1=6
6+1=7
7+1=8
8+1=9
9+1=10
10+1=11

In [ ]:
summ=0
summ=summ+i
#summ=0+1    summm=1
#summ=1+2    summ=3
#summ=6+4    summ=6

In [22]:
summ=0
for i in range (1,11):
    summ=summ+i
    print(summ)   # if in function print ans will come of all suprate

1
3
6
10
15
21
28
36
45
55

In [26]:
summ=0
for i in range(1,11):
    summ=summ+i           # if we wannt only ans the print should write not side of the function
print("the summ of first 10 natural number are:",summ)

the summ of first 10 natural number are: 55

- do not give variable name as sum ,becuase sum is keywords

- if you do print inside it will print every answer

-

In [27]:
l=[1,2,3]
sum(l)

6

In [29]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

- not callable, remove the brackets

- bound method means add the brackerts

- function means add the brackets

**Counter wrapper**

In [32]:
#Q9) how many divisor are avilable for 50
# tell the divisors:1,2,5,10,25,50
# now I want to print : the number of divisors are 6

#count=0
#<for>
#  if 
#

In [ ]:
count=0
for i in range(1,11):
    summ=summ+i           # if we wannt only ans the print should write not side of the function
print("the summ of first 10 natural number are:",summ)

In [36]:
count=0
num=eval(input('Enter the number which you want divisiable:'))
for i in range (1,51):
   if 50%i==0:
       count=count+1
print(count)

#step-1:  count=0 num=10 i=1

Enter the number which you want divisiable: 10

6

In [37]:
summ=0
summ=summ+1

count=0
count=count+1

In [ ]:
#Q10) 
# ask the user enter one number from keyboard
# ask the user get the secound number randomly from 1 to 10
# if num1 ===num2 then print you won
# otherwise print you lost 
# Iterate these line 3 time

In [41]:

import random

def main():
    for _ in range(3):
        num1 = int(input("Enter a number: "))
        num2 = random.randint(1, 10)

        if num1 == num2:
            print("You won!")
        else:
            print("You lost!")

if __name__ == "__main__":
    main()

Enter a number:  3

You lost!

Enter a number:  3

You lost!

Enter a number:  3

You won!

In [49]:
#case-1:

import random

def main():
    for _ in range(3):
        num1 = random.randint(1, 10)
        print(num1)
        num2 = int(input("Enter a number: "))
       

        if num1 == num2:
            print("You won!")
            break
        else:
            print("You lost!")

if __name__ == "__main__":
    main()

4

Enter a number:  4

You won!

In [ ]:
# case-2: give 5 chances
# whenever fail print the number of chances left

# case-3: suppose your all chances are over
# print your account locked try after 24 hours

lopppppp

In [4]:
name='python'
'p' in name
'y' in name
't' in name
'h' in name
'o' in name
'n' in name

i in name

NameError: name 'i' is not defined

In [8]:
for i in name:
    print(i,end=' ')

p y t h o n

In [9]:
'A'=='a'

False

In [10]:
'A'>'a'

False

In [11]:
'a'<'A'

False

In [12]:
'a'>'A'

True

**ASCII**

- American standard cord for Information Interchange

In [14]:
'A'= 65 'B'=66 #so on
'a'=97 #so on

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2370427289.py, line 1)

**ord-chr**

- ord is the keyword which provide ASCII number of charcters

- char is the keyword which provides charecters for given ASCII numbers

In [15]:
ord('A'),ord ('a')

(65, 97)

In [17]:
chr(65),chr(97)

('A', 'a')

In [ ]:
#  i want to print all ascii number of A to Z 
# using for loop
ord('A')
ord('B')
ord('C')

ord(i)

**PACKAGE NAME:string**

In [23]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [26]:
print(string.ascii_letters)
print(string.ascii_lowercase)
print(string.ascii_uppercase)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [33]:
for i in string.ascii_letters:
    print(ord(i),end=',')

97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,

In [36]:
for i in string.ascii_uppercase:
    print(f'The ASCII value of {i} is {ord(i)}')

The ASCII value of A is 65
The ASCII value of B is 66
The ASCII value of C is 67
The ASCII value of D is 68
The ASCII value of E is 69
The ASCII value of F is 70
The ASCII value of G is 71
The ASCII value of H is 72
The ASCII value of I is 73
The ASCII value of J is 74
The ASCII value of K is 75
The ASCII value of L is 76
The ASCII value of M is 77
The ASCII value of N is 78
The ASCII value of O is 79
The ASCII value of P is 80
The ASCII value of Q is 81
The ASCII value of R is 82
The ASCII value of S is 83
The ASCII value of T is 84
The ASCII value of U is 85
The ASCII value of V is 86
The ASCII value of W is 87
The ASCII value of X is 88
The ASCII value of Y is 89
The ASCII value of Z is 90

In [38]:
# i want to know ho many ascii number are available 
#65-90 A-Z
#97-122 a-z

for i in range(50,150):
    print(i,chr(i))

50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~
127 
128 
129 
130 
131 
132 
133
134 
135 
136 
137 
138 
139 
140 
141 
142 
143 
144 
145 
146 
147 
148 
149 

In [39]:
for i in range(50,150):
    print(f'The ASCII value of {i} is {chr(i)}')

The ASCII value of 50 is 2
The ASCII value of 51 is 3
The ASCII value of 52 is 4
The ASCII value of 53 is 5
The ASCII value of 54 is 6
The ASCII value of 55 is 7
The ASCII value of 56 is 8
The ASCII value of 57 is 9
The ASCII value of 58 is :
The ASCII value of 59 is ;
The ASCII value of 60 is <
The ASCII value of 61 is =
The ASCII value of 62 is >
The ASCII value of 63 is ?
The ASCII value of 64 is @
The ASCII value of 65 is A
The ASCII value of 66 is B
The ASCII value of 67 is C
The ASCII value of 68 is D
The ASCII value of 69 is E
The ASCII value of 70 is F
The ASCII value of 71 is G
The ASCII value of 72 is H
The ASCII value of 73 is I
The ASCII value of 74 is J
The ASCII value of 75 is K
The ASCII value of 76 is L
The ASCII value of 77 is M
The ASCII value of 78 is N
The ASCII value of 79 is O
The ASCII value of 80 is P
The ASCII value of 81 is Q
The ASCII value of 82 is R
The ASCII value of 83 is S
The ASCII value of 84 is T
The ASCII value of 85 is U
The ASCII value of 86 is V
The ASCII value of 87 is W
The ASCII value of 88 is X
The ASCII value of 89 is Y
The ASCII value of 90 is Z
The ASCII value of 91 is [
The ASCII value of 92 is \
The ASCII value of 93 is ]
The ASCII value of 94 is ^
The ASCII value of 95 is _
The ASCII value of 96 is `
The ASCII value of 97 is a
The ASCII value of 98 is b
The ASCII value of 99 is c
The ASCII value of 100 is d
The ASCII value of 101 is e
The ASCII value of 102 is f
The ASCII value of 103 is g
The ASCII value of 104 is h
The ASCII value of 105 is i
The ASCII value of 106 is j
The ASCII value of 107 is k
The ASCII value of 108 is l
The ASCII value of 109 is m
The ASCII value of 110 is n
The ASCII value of 111 is o
The ASCII value of 112 is p
The ASCII value of 113 is q
The ASCII value of 114 is r
The ASCII value of 115 is s
The ASCII value of 116 is t
The ASCII value of 117 is u
The ASCII value of 118 is v
The ASCII value of 119 is w
The ASCII value of 120 is x
The ASCII value of 121 is y
The ASCII value of 122 is z
The ASCII value of 123 is {
The ASCII value of 124 is |
The ASCII value of 125 is }
The ASCII value of 126 is ~
The ASCII value of 127 is 
The ASCII value of 128 is 
The ASCII value of 129 is 
The ASCII value of 130 is 
The ASCII value of 131 is 
The ASCII value of 132 is 
The ASCII value of 133 is
The ASCII value of 134 is 
The ASCII value of 135 is 
The ASCII value of 136 is 
The ASCII value of 137 is 
The ASCII value of 138 is 
The ASCII value of 139 is 
The ASCII value of 140 is 
The ASCII value of 141 is 
The ASCII value of 142 is 
The ASCII value of 143 is 
The ASCII value of 144 is 
The ASCII value of 145 is 
The ASCII value of 146 is 
The ASCII value of 147 is 
The ASCII value of 148 is 
The ASCII value of 149 is 

In [43]:
for i in range(33,127):                                 #start for33 and end 126 is last
    print(f'The ASCII value of {i} is {chr(i)}')

The ASCII value of 33 is !
The ASCII value of 34 is "
The ASCII value of 35 is #
The ASCII value of 36 is $
The ASCII value of 37 is %
The ASCII value of 38 is &
The ASCII value of 39 is '
The ASCII value of 40 is (
The ASCII value of 41 is )
The ASCII value of 42 is *
The ASCII value of 43 is +
The ASCII value of 44 is ,
The ASCII value of 45 is -
The ASCII value of 46 is .
The ASCII value of 47 is /
The ASCII value of 48 is 0
The ASCII value of 49 is 1
The ASCII value of 50 is 2
The ASCII value of 51 is 3
The ASCII value of 52 is 4
The ASCII value of 53 is 5
The ASCII value of 54 is 6
The ASCII value of 55 is 7
The ASCII value of 56 is 8
The ASCII value of 57 is 9
The ASCII value of 58 is :
The ASCII value of 59 is ;
The ASCII value of 60 is <
The ASCII value of 61 is =
The ASCII value of 62 is >
The ASCII value of 63 is ?
The ASCII value of 64 is @
The ASCII value of 65 is A
The ASCII value of 66 is B
The ASCII value of 67 is C
The ASCII value of 68 is D
The ASCII value of 69 is E
The ASCII value of 70 is F
The ASCII value of 71 is G
The ASCII value of 72 is H
The ASCII value of 73 is I
The ASCII value of 74 is J
The ASCII value of 75 is K
The ASCII value of 76 is L
The ASCII value of 77 is M
The ASCII value of 78 is N
The ASCII value of 79 is O
The ASCII value of 80 is P
The ASCII value of 81 is Q
The ASCII value of 82 is R
The ASCII value of 83 is S
The ASCII value of 84 is T
The ASCII value of 85 is U
The ASCII value of 86 is V
The ASCII value of 87 is W
The ASCII value of 88 is X
The ASCII value of 89 is Y
The ASCII value of 90 is Z
The ASCII value of 91 is [
The ASCII value of 92 is \
The ASCII value of 93 is ]
The ASCII value of 94 is ^
The ASCII value of 95 is _
The ASCII value of 96 is `
The ASCII value of 97 is a
The ASCII value of 98 is b
The ASCII value of 99 is c
The ASCII value of 100 is d
The ASCII value of 101 is e
The ASCII value of 102 is f
The ASCII value of 103 is g
The ASCII value of 104 is h
The ASCII value of 105 is i
The ASCII value of 106 is j
The ASCII value of 107 is k
The ASCII value of 108 is l
The ASCII value of 109 is m
The ASCII value of 110 is n
The ASCII value of 111 is o
The ASCII value of 112 is p
The ASCII value of 113 is q
The ASCII value of 114 is r
The ASCII value of 115 is s
The ASCII value of 116 is t
The ASCII value of 117 is u
The ASCII value of 118 is v
The ASCII value of 119 is w
The ASCII value of 120 is x
The ASCII value of 121 is y
The ASCII value of 122 is z
The ASCII value of 123 is {
The ASCII value of 124 is |
The ASCII value of 125 is }
The ASCII value of 126 is ~